---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Andreas Lindegaard";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Dette er min blog.</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
